.contacts {
  display: flex;
  flex-direction: column;
  min-height: 88vh;
  color: var(--whitetext);

}

.contact {
  padding: 0px;
  max-width: 800px;
  margin: 0 auto;
}

/* .contact-body h2 {
  margin-top: 80px;
} */


.contact-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  margin: 100px 35px 35px;
}


.contact-company {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 30px;
}

.contact-description {
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.6;
}

.contact-description>a {
  margin-right: 8px;
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 3px;
  color: var(--textcolor)
}

.contacttext {
  text-align: justify;
}

h1 {
  font-size: 22px;
  margin: 0 0 5px;
  font-weight: normal;
}



@media (min-width: 950px) {
  .contacts {
    min-height: 82vh;
    padding-bottom: 0;
  }

  .contact-title {
    font-size: 35px;
    margin: 80px 0;
  }

  .contact-company {
    font-size: 20px;
  }

  .contact-description {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.3;
  }



}