#hero {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url("img/mola.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 8vh;
    padding-top: 35px;

}

#hero button {
    font-size: 1.75em;
}

.linea1 {
    color: var(--whitetext);
    margin: 0;
    font-weight: 700;
    font-size: 26px;

}

.linea2 {
    color: var(--whitetext);
    margin: 0;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 5px;
}


@media (min-width: 950px) {
    #hero {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.3)), url("img/mola.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        height: 3vh;
        padding-top: 85px;
        /*  margin-bottom: 40px; */

    }

    .linea1 {
        font-size: 30px;

    }

    .linea2 {
        font-size: 38px;
        margin-bottom: 5px;
    }
}